@model AlexBlogMVC.Areas.BackEnd.Models.News

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsSort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsContxt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsContxt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsImg1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsImg1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsImgUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsImgAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsImgAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsPublish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsPublish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsViews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsViews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsPutTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsPutTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsOffTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsOffTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NewsNum">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
