@using AlexBlogMVC.BackEnd.Models;
@model AlexBlogMVC.BackEnd.ViewModel.AdminGroupViewModel

@{
    ViewData["Title"] = "Edit";
    var breadcrumbDict = new Dictionary<string, string[]> { { "編輯群組", new string[] { "帳號管理", "群組設定", "編輯群組" } } };
}

@Html.Partial("_PageTitlePartial", breadcrumbDict)

<div class="card">
    <div class="card-header">
        <h5>編輯帳號</h5>
    </div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="GroupNum" />
        <input type="hidden" asp-for="CreateTime" />
        <input type="hidden" asp-for="Creator" />
        <input type="hidden" asp-for="Ip" />
        <div class="card-body">
            <div class="row">
                <div class="col">

                    <div class="mb-3 row">
                        <label asp-for="EditorName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-form-label">
                            @Model.EditorName
                        </div>
                        <span asp-validation-for="EditorName" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="GroupName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="GroupName" class="form-control" />
                        </div>
                        <span asp-validation-for="GroupName" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="GroupInfo" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="GroupInfo" class="form-control" />
                        </div>
                        <span asp-validation-for="GroupInfo" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="GroupPublish" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="GroupPublish" class="form-control">
                                <option value="true">啟用</option>
                                <option value="false">關閉</option>
                            </select>
                        </div>
                        <span asp-validation-for="GroupPublish" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">權限</label>
                        <div class="col-sm-9">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-11">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">新增權</th>
                                                    <th scope="col">查看權</th>
                                                    <th scope="col">編輯權</th>
                                                    <th scope="col">刪除權</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (MenuGroup group in @Model.MenuGroupModels)
                                                {
                                                    <tr class="table-info">
                                                        <td>@group.MenuGroupName</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    @foreach (MenuSub sub in @Model.MenuSubModels)
                                                    {
                                                        if (sub.MenuGroupId.Equals(group.MenuGroupId))
                                                        {
                                                            AdminRole ar = Model.AdminRoleModels.Where(model_ar => model_ar.MenuSubNum.Equals(sub.MenuSubNum)).FirstOrDefault();
                                                            <tr>
                                                                <td>@sub.MenuSubName</td>

                                                                <td>
                                                                    <div class="form-check">

                                                                        @if (ar != null && ar.Role.Contains("C"))
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" id="C" name="Role_@sub.MenuSubNum.ToString()" value="C" checked>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" id="C" name="Role_@sub.MenuSubNum.ToString()" value="C">
                                                                        }

                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="form-check">

                                                                        @if (ar != null && ar.Role.Contains("R"))
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" id="C" name="Role_@sub.MenuSubNum.ToString()" value="R" checked>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" id="C" name="Role_@sub.MenuSubNum.ToString()" value="R">
                                                                        }

                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="form-check">

                                                                        @if (ar != null && ar.Role.Contains("U"))
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" id="C" name="Role_@sub.MenuSubNum.ToString()" value="U" checked>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" id="C" name="Role_@sub.MenuSubNum.ToString()" value="U">
                                                                        }

                                                                    </div>
                                                                </td>

                                                                <td>
                                                                    <div class="form-check">

                                                                        @if (ar != null && ar.Role.Contains("D"))
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" id="C" name="Role_@sub.MenuSubNum.ToString()" value="D" checked>
                                                                        }
                                                                        else
                                                                        {
                                                                            <input class="form-check-input" type="checkbox" id="C" name="Role_@sub.MenuSubNum.ToString()" value="D">
                                                                        }

                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>




                            @*<table>
                                @foreach(MenuGroup group in @Model.MenuGroupModels)
                                {
                                    <tr style="border:1px solid; background-color:deepskyblue;">
                                        <th style="border:1px solid;">@group.MenuGroupName</th>
                                        <th style="border:1px solid;">查看權</th>
                                        <th style="border:1px solid;">新增權</th>
                                        <th style="border:1px solid;">編輯權</th>
                                        <th style="border:1px solid;">刪除權</th>
                                    </tr>
                                    @foreach (MenuSub sub in @Model.MenuSubModels)
                                    {
                                        if (sub.MenuGroupId.Equals(group.MenuGroupId))
                                        {

                                            <tr style="border:1px solid;">
                                                <td style="border:1px solid;">
                                                    @sub.MenuSubName
                                                </td>
                                                @for (int i = 0; i < 4; i++)
                                                {
                                                    string subid = sub.MenuSubId.ToString() + "_[" + i + "]";

                                                    <td style="border:1px solid;">
                                                        <input type="checkbox" id="@subid" name="@sub.MenuSubId.ToString()" value="@subid">
                                                    </td>
                                                }
                                            </tr>   
                                        }                                        
                                    }
                                }                                
                            </table>*@

                        </div>
                        <input type="hidden" asp-for="Auth" />
                        <span asp-validation-for="GroupPublish" class="text-danger"></span>
                    </div>


                    


                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <div class="col-sm-9 offset-sm-3">
                <button class="btn btn-primary" type="submit" id="submit">Submit</button>
                <input class="btn btn-light" type="reset" value="Cancel">
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#submit').on('click',function(){


            $("input[name=bla]").each(function () {
                alert($(this).val());
            });
        
        });
    </script>
}
