@model ShopPageViewModel
@using ShopWebsite.Areas.BackEnd.Models

@{
    ViewData["Title"] = "購物頁";
    var breadcrumbDict = new Dictionary<string, string[]> { { "購物頁", new string[] { "Alex前台", "購物頁" } } };
}

@Html.Partial("_FrontEndPageTitlePartial", breadcrumbDict)

<!--Shop Page-->
    <div class="sidebar-page-container shop-page">
        <div class="outer-container shop-container">
            <div class="row clearfix">
                
                
                <!--Content Side-->	
                <div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    
                    <!--Products Section-->
                    <section class="products-section padd-left-20">
                        <div class="clearfix">

                            @{
                                foreach(SingleProductViewModel product in Model.ListProductViewModels)
                                {
                                    <!--Product item-->
                                    <div class="product-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="inner-box">
                                            <figure class="image-box">
                                                <a asp-controller="ShopPage" asp-action="Detail" asp-route-id="@product.ProductId"><img src="@Url.Content("~/uploads/Product/" + product.ProductImg1)" alt=""></a>
                                                <div class="options">
                                                    <a href="@Url.Content("~/uploads/Product/" + product.ProductImg1)" class="lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                                    <a asp-controller="ShopPage" asp-action="Detail" asp-route-id="@product.ProductId" class="add-cart-btn"><span class="icon fa fa-shopping-cart"></span></a>
                                                </div>
                                            </figure>
                                            <div class="lower-content">
                                                <h3><a asp-controller="ShopPage" asp-action="Detail" asp-route-id="@product.ProductId">@product.Title</a></h3>
                                                <div class="ratings"></div>
                                                <div class="price">$ @product.Price</div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </section>
    
                    <!-- Styled Pagination -->
                    <div class="styled-pagination text-center padd-top-30">
                        <ul>
                        @{
                            int TotalPages = Convert.ToInt32(ViewBag.TotalPages);
                            int Page = Convert.ToInt32(ViewBag.Page);
                            for (int i = 1; i <= TotalPages; i++)
                            {
                                var preUrl = Url.Action("Index", "ShopPage", new { ClassType = ViewBag.ClassType, Page = i });
                                if (i == Page)
                                {
                                    <li><a href="@preUrl" class="active">@i</a></li>
                                }
                                else
                                {
                                    <li><a href="@preUrl">@i</a></li>
                                }
                            }
                        }
                        </ul>
                    </div>
                
                    
                </div>
                <!--Content Side-->
                
                <!--Sidebar-->	
                <div class="col-lg-3 pull-left col-md-4 col-sm-6 col-xs-12">
                    <aside class="sidebar">
                        
                        
                        <!-- Recent Articles -->
                        <div class="sidebar-widget shop-widget boxed-widget links-widget wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="widget-title"><h2>商品類別</h2></div>
                            
                            <ul class="list">
                            @{
                                var urlAll = Url.Action("Index", "ShopPage", new { ClassType = 0 });
                                <li><a href="@urlAll"><div class="clearfix"><span class="pull-left">全部</span> <span class="pull-right fa fa-arrow-right"></span></div></a></li>

                                foreach(ProductClass productClass in Model.ListproductClass)
                                {
                                    var url = Url.Action("Index", "ShopPage", new { ClassType = productClass.ProductClassNum });
                                    <li><a href="@url"><div class="clearfix"><span class="pull-left">@productClass.ProductClassName</span> <span class="pull-right fa fa-arrow-right"></span></div></a></li>
                                }
                            }
                            </ul>
                            
                        </div>
                        
                        
                        <!-- Popular Posts -->
                        <div class="sidebar-widget shop-widget boxed-widget shop-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="widget-title"><h2>銷量最高</h2></div>
                            
                            
                            
                        @{
                            foreach (var product in Model.TopProducts)
                            {
                                <article class="post">
                                    <figure class="post-thumb"><a href="#"><img src="@Url.Content("~/uploads/Product/" + product.ProductImg1)" alt=""></a></figure>
                                    <h4><a asp-controller="ShopPage" asp-action="Detail" asp-route-id="@product.ProductId">@product.Title</a></h4>
                                    <div class="item-price">$@product.Price<span class="strike-through"></span></div>
                                    <!-- <div class="item">已售出 2</div> -->
                                </article>
                            }
                        }
                            
                        </div>
                        
                                
                    </aside>
                </div>
                <!--Sidebar-->  
                
                
            </div>
        </div>
    </div>