<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <!-- Stylesheets -->
    <link href="~/FrontEnd/css/bootstrap.css" rel="stylesheet">
    <link href="~/FrontEnd/css/nouislider.css" rel="stylesheet">
    <link href="~/FrontEnd/css/nouislider.pips.css" rel="stylesheet">
    <link href="~/FrontEnd/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/FrontEnd/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/FrontEnd/images/favicon.ico" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/FrontEnd/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>



<body class="default-theme">

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        @{
            @Html.Partial("_FrontEndNavbarPartial")
        }

        @*<!--Page Title-->
        <section class="page-title" style="background-image:url('@Url.Content("~/uploads/Banner/" + ViewBag.Banner)');">
            <div class="auto-container">
                <div class="clearfix">
                    <!--Title -->
                    <div class="title-column">
                        <h1>最新消息</h1>
                    </div>
                    <!--Bread Crumb -->
                    <div class="breadcrumb-column">
                        <ul class="bread-crumb clearfix">
                            <li><a asp-controller="Default" asp-action="Index">Home</a></li>
                            <li class="active">News</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>*@


        @RenderBody()


        @{
            @Html.Partial("_FrontEndFooterPartial")
        }


    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".site-header"><span class="fa fa-long-arrow-up"></span></div>


    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn"><span class="flaticon-cross-1"></span></div>
        <div class="popup-inner">

            <div class="search-form">
                <form method="post" action="index.html">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required>
                            <input type="submit" value="Search" class="theme-btn">
                        </fieldset>
                    </div>
                </form>

                <br>
                <h3>Recent Search Keywords</h3>
                <ul class="recent-searches">
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">SEO</a></li>
                    <li><a href="#">Logistics</a></li>
                    <li><a href="#">Freedom</a></li>
                </ul>

            </div>

        </div>
    </div>


    @{
        @Html.Partial("_FrontEndScriptPartial")
    }

</body>
</html>