@model IEnumerable<AlexBlogMVC.BackEnd.Models.Admin>

@{
    ViewData["Title"] = "Index";
    Layout = "~/BackEnd/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminAcc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminPublish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminAcc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminPublish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdminNum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdminNum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdminNum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
