@model ShopWebsite.Areas.ViewModel.OrderProductViewModel

<div class="row mb-4 d-flex justify-content-between align-items-center">
    <div class="col-md-2 col-lg-2 col-xl-2">
        <img src="@Url.Content("~/uploads/Product/" + @Model.ProductImg)"
             class="img-fluid rounded-3" alt="Cotton T-shirt">
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3">
        <h6 class="text-black mb-0">@Model.ProductName</h6>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

        <h6 class="mb-0">@Model.Quantity 組</h6>

    </div>
    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
        <h6 class="mb-0">$ @Model.Price</h6>
    </div>
</div>

<hr class="my-4">

<input type="hidden" asp-for="@Model.OrderProductId" />
<input type="hidden" asp-for="@Model.OrderId" />
<input type="hidden" asp-for="@Model.ProductId" />
<input type="hidden" asp-for="@Model.Quantity" />
<input type="hidden" asp-for="@Model.Price" />
<input type="hidden" asp-for="@Model.Discount" />
<input type="hidden" asp-for="@Model.ProductImg" />

