@model AlexBlogMVC.BackEnd.Models.Banner

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Banner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerSort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerContxt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerContxt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerImg1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerImg1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerImgUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerImgAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerImgAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerPublish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerPublish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerPutTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerPutTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerOffTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerOffTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BannerNum" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
