@model  AlexBlogMVC.FrontEnd.ViewModel.SingleProductViewModel
@{
    ViewData["Title"] = "商品頁面";
    var breadcrumbDict = new Dictionary<string, string[]> { { "商品頁面", new string[] { "Alex前台", "商品頁面" } } };
}

@Html.Partial("_FrontEndPageTitlePartial", breadcrumbDict)
<!--Shop Single-->
    <div class="shop-single shop-page">
        <div class="outer-container shop-container">

            <!--Prod Info Section-->
            <section class="prod-info-section">

                <div class="row clearfix">

                    <div class="carousel-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="carousel-outer wow fadeInLeft">

                            <ul class="image-carousel">
                                @{
                                    //var Imagesitems = Model.ProductImgList.Split(',');
                                    //foreach(string item in Model.ProductImg1)
                                    //{
                                    //    <li><a href="~/FrontEnd/images/resource/products/shop-image-1.jpg" class="lightbox-image" title="Image Caption Here"><img src="~/FrontEnd/images/resource/products/shop-image-1.jpg" alt=""></a></li>
                                    //}


                                    <li><a href="@Url.Content("~/uploads/Product/" + Model.ProductImg1)" class="lightbox-image" title="Image Caption Here"><img src="@Url.Content("~/uploads/Product/" + Model.ProductImg1)" alt=""></a></li>
                                }
                            </ul>

                            <ul class="thumbs-carousel">
                                @{
                                    <li><img src="@Url.Content("~/uploads/Product/" + Model.ProductImg1)" alt=""></li>
                                }
                            </ul>

                        </div>
                    </div>

                    <!--Content Column-->
                    <div class="content-column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="outer wow fadeInRight">
                            <div class="title-box">
                                <h2>@Model.Title</h2>
                                <div class="rating"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></div>
                                <div class="price">$ @Model.Price </div>
                            </div>
                        <div class="desc-text">@Model.Description</div>

                            <!--Options-->
                            @using (Html.BeginForm("AddCart", "Cart", FormMethod.Get))
                            {
                            <input type="hidden" name="Id" value="@Model.ProductId" />
                                <div class="prod-options">
                                    <div class="clearfix">
                                        <div class="form-group">
                                            <strong>數量 : </strong>
                                        @Html.DropDownList("amount", new SelectList(new List<string> { "1", "2", "3", "4", "5" }))
                                        </div>
                                    </div>
                                </div>

                                <!--Add-->
                                <div class="add-options">
                                    <button type="submit" class="theme-btn add-cart-btn" >加入購物車</button>
@*                                    <button type="button" class="theme-btn add-fav"><span class="icon flaticon-heart-1"></span></button>
*@                                </div>
                            }
                            <!--Share Options-->

                        </div>
                    </div>

                </div>

            </section>

            <!--Product Info Tabs-->
            <div class="product-info-tabs">

                <!--Product Tabs-->
                <section class="prod-tabs" id="product-tabs">

                    <!--Tab Btns-->
                    <div class="tab-btns clearfix">
                        <a href="#prod-description" class="tab-btn">商品詳細資訊</a>
                        <a href="#prod-tags" class="tab-btn active-btn">商品標籤</a>  
                    </div>

                    <!--Tabs Container-->
                    <div class="tabs-container">

                        <!--Tab-->
                        <div class="tab" id="prod-description">
                            <h3>商品詳細資訊</h3>
                            <div class="content">
                                <p>@Html.Raw(Model.contxt)</p>
                            </div>
                        </div>

                        <!--Tab-->
                        <div class="tab active-tab" id="prod-tags">
                            <h3>Product Tags</h3>
                            <div class="content">
                                <p>There are many variations seds of passages of books are available, but the majority have suffered alteration in some seds form, by injected humour, or randomised words which don't look even slightly ut believable.</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>

                    </div>
                </section>

            </div>

        </div>
    </div>


@*    <!--Top Sellers Section-->
    <section class="products-section top-sellers">
        <div class="outer-container">
            <div class="default-sec-title"><h2>Upsell Products</h2></div>

            <div class="row clearfix">
                <!--Product item-->
                <div class="product-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop.html"><img src="~/FrontEnd/images/resource/products/image-10.jpg" alt=""></a>
                            <div class="options">
                                <a href="~/FrontEnd/images/resource/products/image-10.jpg" class="lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <a href="shop-single.html" class="add-cart-btn"><span class="icon fa fa-shopping-cart"></span></a>
                                <a href="#" class="add-fav-btn"><span class="icon fa fa-heart-o"></span></a>
                            </div>
                        </figure>
                        <div class="prod-tag sale-tag">Sale</div>
                        <div class="lower-content">
                            <h3><a href="shop-single.html">DeWalt</a></h3>
                            <div class="ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="price">$ 18.00</div>
                        </div>
                    </div>
                </div>

                <!--Product item-->
                <div class="product-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop.html"><img src="~/FrontEnd/images/resource/products/image-11.jpg" alt=""></a>
                            <div class="options">
                                <a href="~/FrontEnd/images/resource/products/image-11.jpg" class="lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <a href="shop-single.html" class="add-cart-btn"><span class="icon fa fa-shopping-cart"></span></a>
                                <a href="#" class="add-fav-btn"><span class="icon fa fa-heart-o"></span></a>
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="shop-single.html">DeWalt</a></h3>
                            <div class="ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="price">$ 23.00</div>
                        </div>
                    </div>
                </div>

                <!--Product item-->
                <div class="product-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop.html"><img src="~/FrontEnd/images/resource/products/image-12.jpg" alt=""></a>
                            <div class="options">
                                <a href="~/FrontEnd/images/resource/products/image-12.jpg" class="lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <a href="shop-single.html" class="add-cart-btn"><span class="icon fa fa-shopping-cart"></span></a>
                                <a href="#" class="add-fav-btn"><span class="icon fa fa-heart-o"></span></a>
                            </div>
                        </figure>
                        <div class="prod-tag new-tag">New</div>
                        <div class="lower-content">
                            <h3><a href="shop-single.html">Cumi</a></h3>
                            <div class="ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="price">$ 25.00</div>
                        </div>
                    </div>
                </div>

                <!--Product item-->
                <div class="product-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image-box">
                            <a href="shop.html"><img src="~/FrontEnd/images/resource/products/image-13.jpg" alt=""></a>
                            <div class="options">
                                <a href="~/FrontEnd/images/resource/products/image-13.jpg" class="lightbox-image" title="Image Caption Here"><span class="icon flaticon-cross"></span></a>
                                <a href="shop-single.html" class="add-cart-btn"><span class="icon fa fa-shopping-cart"></span></a>
                                <a href="#" class="add-fav-btn"><span class="icon fa fa-heart-o"></span></a>
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="shop-single.html">Crocodile</a></h3>
                            <div class="ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                            <div class="price">$ 29.00</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>*@
