@model AlexBlogMVC.Areas.BackEnd.Models.AdminGroup

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AdminGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupPublish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupPublish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GroupNum" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
