@model AlexBlogMVC.FrontEnd.ViewModel.NewsPageViewModel

@{
    var breadcrumbDict = new Dictionary<string, string[]> { { "最新消息", new string[] { "Alex前台", "最新消息", Model.NewsTypeName } } };
    ViewData["Title"] = @Model.Title;
}

@Html.Partial("_FrontEndPageTitlePartial", breadcrumbDict)

<section class="news-detail-section">
    <div class="auto-container">

        <div class="content-container">
            <h2 class="post-title">@Model.Title</h2>
            <div class="info"><a href="#" class="cat-name">@Model.NewsTypeName</a>     <span class="date">@Model.CreateTime</span></div>

            <div class="content">

                @Html.Raw(Model.contxt)

            </div>
        </div>

        <!--Post Tags-->
        <div class="post-tags">
            <strong>TAGS : </strong>
            <a href="#">Business</a>
            <a href="#">Article</a>
            <a href="#">Blog</a>
            <a href="#">Creative</a>
        </div>

        <!--Comments Container-->
        <div class="comments-container">
            <div class="big-title">@Model.getCommants.Count() 則留言</div>
            <div class="comments-area">

                <!--Comment Box-->
                @{
                    foreach (NewsPageViewModel.UserComment item in Model.getCommants)
                    {
                        <div class="comment-box">
                            <div class="inner-box">
                                <figure class="comment-thumb">
                                    @{
                                        Random random = new Random();
                                        int randomNumber = random.Next();
                                        <img src="https://picsum.photos/80/80?random= @randomNumber" alt="">
                                    }
                                </figure>
                                <h3>@item.UserName</h3>
                                <div class="time">@item.Email</div>
                                <div class="text">@item.Message</div>
                            </div>
                        </div>
                        <hr></hr>
                    }
                }

@*                <!--回覆-->
                <div class="comment-box reply-comment">
                    <div class="inner-box">
                        <figure class="comment-thumb"><img src="~/FrontEnd/images/resource/author-thumb-2.jpg" alt=""></figure>
                        <h3>Hasib Sharif</h3>
                        <div class="time">2 hours ago</div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        <div class="links">
                            <a href="#" class="theme-btn normal-link"><span class="fa fa-heart-o"></span>  Like</a>
                            <a href="#" class="theme-btn normal-link"><span class="fa fa-reply"></span>  Reply</a>
                        </div>
                    </div>
                </div>*@



            </div>

            <div class="big-title">留下評論</div>
            <!--Reply Form-->
            <div class="reply-form">

                <form method="post" asp-action="Comments">
                    <input type="hidden" asp-for="NewsId" />
                    <div class="row clearfix">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" value="" placeholder="姓名" name="postComment.UserName">
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="email" value="" placeholder="信箱" name="postComment.Email">
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea  placeholder="內容.." name="postComment.Message"></textarea>
                        </div>

                        <div class="form-group text-center col-lg-12 col-md-6 col-sm-12 col-xs-12">
                            <div class="padd-top-20"><button type="submit" class="theme-btn">送出</button></div>
                        </div>
                    </div>

                </form>
            </div>
        </div>


    </div>
</section>