@model AlexBlogMVC.BackEnd.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductContxt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductContxt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImg1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImg1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImgUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImgAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImgAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImgList)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImgList)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImgListAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImgListAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductVideo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductVideo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPublish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPublish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPutTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPutTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductOffTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductOffTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductNum">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
