@model IEnumerable<AlexBlogMVC.BackEnd.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDepartment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductContxt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImg1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImgAlt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImgList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImgListAlt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductVideo1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPublish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductOffTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDepartment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductContxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImg1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImgUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImgAlt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImgList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImgListAlt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductVideo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPublish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPutTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductOffTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductNum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductNum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductNum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
