@model ShopWebsite.Areas.BackEnd.ViewModel.OrderViewModel.OrderEditViewModel

@{
    ViewData["Title"] = "編輯訂單";
    var breadcrumbDict = new Dictionary<string, string[]> { { "編輯訂單", new string[] { "訂單管理", "編輯訂單" } } };
}

<!-- 麵包屑及標題-->
@Html.Partial("_PageTitlePartial", breadcrumbDict)

<div class="card">
    <div class="card-header">
        <h5>編輯訂單</h5>
    </div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.OrderID" />
        <input type="hidden" asp-for="@Model.TotalAmount" />
        <input type="hidden" asp-for="@Model.OrderDate" />

        <div class="card-body">
            <div class="row">

                <div class="col">

                    <div class="mb-3 row">
                        <label asp-for="@Model.CustomerName" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="@Model.CustomerName" class="form-control" placeholder="訂購人姓名" />
                        </div>
                        <span asp-validation-for="@Model.CustomerName" class="text-danger"></span>
                    </div>



                    <div class="mb-3 row">
                        <label asp-for="@Model.OrderDate" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-form-label">
                            @Model.OrderDate
                        </div>
                        <span asp-validation-for="@Model.OrderDate" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="@Model.Email" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="@Model.Email" class="form-control" placeholder="信箱" />
                        </div>
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="@Model.PaymentMethod" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="@Model.PaymentMethod" class="form-control" placeholder="付款方式" />
                        </div>
                        <span asp-validation-for="@Model.PaymentMethod" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="@Model.ShippingAddress" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="@Model.ShippingAddress" class="form-control" placeholder="寄送地址" />
                        </div>
                        <span asp-validation-for="@Model.ShippingAddress" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="@Model.TotalAmount" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9 col-form-label">
                            @Model.TotalAmount
                        </div>
                        <span asp-validation-for="@Model.TotalAmount" class="text-danger"></span>
                    </div>


                    <div class="mb-3 row">
                        <label asp-for="@Model.OrderStatus" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="@Model.OrderStatus" class="form-control">
                                <option value="確認中">確認中</option>
                                <option value="揀貨中">揀貨中</option>
                                <option value="已出貨">已出貨</option>
                                <option value="已到貨">已到貨</option>
                            </select>
                        </div>
                        <span asp-validation-for="@Model.OrderStatus" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <hr class="my-4">

            <div class="row">
                @Html.EditorFor(model => model.orderProductViewModels)
            </div>

        </div>
        <div class="card-footer text-end">
            <div class="col-sm-9 offset-sm-3">
                <button class="btn btn-primary" type="submit">送出</button>
                <input class="btn btn-light" type="reset" value="重設">
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var result = '@Html.Raw(ViewBag.result)';  // 將C#的ViewBag.result轉換為JavaScript字串

        if (result.length > 0) {
            Swal.fire({
                position: 'center-center',
                icon: 'error',
                title: result,
                showConfirmButton: false,
                timer: 1500
            })
        }
    });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}